body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgba(0, 0, 0, 1);
    position: relative;
    min-height: 100vh;
    font-size: 2em; /* Add this line */
}

@media (max-width: 800px) {
    #about-me, #contact, .skills {
        font-size: 1.5em;
    }
}

/* When the viewport is 500px or less, decrease the font size further */
@media (max-width: 800px) {
    #about-me , #contact, .skills{
        font-size: 0.7em;
    }
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("images/background.jpg");
	background-size: cover;
	background-position: center;
	filter: blur(10px); /* Adjust the pixel value as needed */
	z-index: -1;
}

#profile-picture {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border: 5px solid #333;
	display: block;
	margin: 0 auto; /* This will center the image */
}

#about-me {
	padding-top: 1em; /* Adjust this value as needed */
	padding-bottom: 3em;
	background: transparent;
	margin-bottom: 0em; /* Adjust this value as needed */
	margin-left: 3em;
	margin-right: 3em;
	color: white;
}

#contact {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 6em;
	background: transparent;
	margin-bottom: 0;
	margin-left: 0.6em;
	margin-right: 3em;
	color: white;
}

.skills {
	padding-left: 6em;
	background: transparent;
	margin-bottom: 0;
	margin-right: 6em;
	color: white;
}

.skills img {
	width: 50px;
	height: 50px; 
}


header {
	text-align: left;
    position: relative;
    padding: 0.5em;
    margin-left: 2em;
    margin-bottom: 0;
}rgin-bottom: 0px;

@keyframes glitch {
	0% {
		text-shadow: none;
	}
	20% {
		text-shadow: -2px 0 blue, 2px 0 red;
	}
	40% {
		text-shadow: -2px 0 red, 2px 0 blue;
	}
	60% {
		text-shadow: -2px 0 blue, 2px 0 red;
	}
	80% {
		text-shadow: -2px 0 red, 2px 0 blue;
	}
	100% {
		text-shadow: none;
	}
}

h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 0; /* This reduces the space below the h1 */
}

h3 {
	font-size: 20px;
	margin-top: 0; /* This reduces the space above the h3 */
	color: rgb(179, 16, 124);
}

h4 {
	font-size: 70px;
	margin-top: 0; /* This reduces the space above the h3 */
	color: rgb(60, 253, 179);
}
h2 {
	font-size: 30px;
	color: rgb(60, 253, 179);
	text-shadow: #000000;
}

@media (max-width: 600px) {
	h1 {
		display: none;
	}
	h4 {
		display: none;
	}
}

#contact img {
	width: 50px; /* Adjust as needed */
	height: auto; /* This maintains the aspect ratio of the image */
}

.buttonCV img {
	height: 20px;
	width: 20px;
	filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(270deg);
}

.buttonCV {
	transform: translateY(-50%);
	background-color: #610061; /* Change this to your preferred color */
	color: white; /* Change this to your preferred color */
	border: 1px solid #448e9b00;
	border-radius: 10px;
	text-decoration: none;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
	margin: 0px;
}

.buttonCV:hover {
	background-color: #005F7F; /* Change this to your preferred color */
	animation: glitch 1s infinite;
}

/* Default button styles */
.button, .buttonCV{
	padding: 10px 30px;
	font-size: 28px;
}

.button{
	transform: translateY(-50%);
	background-color: #610061; /* Change this to your preferred color */
	color: white; /* Change this to your preferred color */
	border: 1px solid #530546;
	border-radius: 10px;
	border-color: #000000;
	text-decoration: none;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
}

.button img{
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.button:hover {
	background-color: #005F7F; /* Change this to your preferred color */
	animation: glitch 1s infinite;
}


/* Responsive styles for screens smaller than 600px */
@media (max-width: 600px) {
	.button, .buttonCV, #prev, #next {
		padding: 5px 10px;
		font-size: 14px;
	}
}


.project {
	position: relative;
	flex: 1 0 21%; /* This will make each box take up approximately 1/4 of the container width, adjust as needed */
	box-sizing: border-box;
	margin: 10%;
	padding: 10%;
	background-color: #181142; /* This makes the background grey */
	color: #ffffff; /* This makes the text white */
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	font-size: 14px; /* This makes the text smaller. Adjust as needed */
}


.github-logo{
	width: 40px; /* This makes the logo smaller. Adjust as needed */
	height: auto; /* This maintains the aspect ratio of the logo */
}

.github-logo:hover {
	filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(270deg);
}

.responsive-video {
	width: 30%;
	height: auto;
}

@media (min-width: 600px) {
	.responsive-video {
		width: 100%;
	}
}

@media (min-width: 900px) {
	.responsive-video {
		width: 100%;
	}
}


footer {
	color: white;
	text-align: center;
	padding: 10px;
}
