body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 1); /* This will add a semi-transparent black overlay */
	position: relative; /* Add this line */
	min-height: 100vh; /* Add this line */
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("images/background.jpg");
	background-size: cover;
	background-position: center;
	filter: blur(20px); /* Adjust the pixel value as needed */
	z-index: -1;
}

#profile-picture {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	border: 5px solid #333;
	display: block;
	margin: 0 auto; /* This will center the image */
}

#about-me {
	padding: 100px;
	background: transparent;
	margin-bottom: 120px;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -450px;
	color: white;
}

#contact {
	padding: 10px;
	background: transparent;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 100px;
	margin-top: -400px;
	color: white;
}

header {

	text-align: left;
	position: relative;
	padding: 20px;
	margin-left: 100px;
	margin-bottom: 0px;
}

@keyframes glitch {
	0% {
		text-shadow: none;
	}
	20% {
		text-shadow: -2px 0 blue, 2px 0 red;
	}
	40% {
		text-shadow: -2px 0 red, 2px 0 blue;
	}
	60% {
		text-shadow: -2px 0 blue, 2px 0 red;
	}
	80% {
		text-shadow: -2px 0 red, 2px 0 blue;
	}
	100% {
		text-shadow: none;
	}
}

.buttonCV img {
	height: 20px;
	width: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.buttonCV {
	transform: translateY(-50%);
	background-color: #008CBA; /* Change this to your preferred color */
	color: white; /* Change this to your preferred color */
	padding: 20px 20px;
	border: 1px solid #00d9ff;
	border-radius: 50px;
	border-color: #000000;
	text-decoration: none;
	font-size: 1.2em;
	transition: background-color 0.3s ease;
	margin: 0px;
}

.buttonCV:hover {
	background-color: #005F7F; /* Change this to your preferred color */
	animation: glitch 1s infinite;
}


.skills-container {
	position: relative;
	left: 75%;
	margin-top : 300px;
	bottom: 500px; /* Adjust this as needed */
}

.skills-container h2 {
	color: #ffffff; /* Change this to your preferred color */
}

.skills-container h2, .skills-container h3 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.skills-container h3 {
	color: #ffffff; /* Change this to your preferred color */
}
.skills img {
	width: 46px; /* Adjust this as needed */
	height: 50px; /* Adjust this as needed */
	margin-right: 10px;
}

.learning img {
	width: 46px; /* Adjust this as needed */
	height: 50px; /* Adjust this as needed */
	margin-right: 10px;
}

h1 {
	font-size: 70px;
	color: rgb(255, 255, 255);
	animation: glitch 1s infinite;
}

h2 {
	color: #ffffff;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
	display: flex;
	background-color: #0a1a75; /* Change this to your preferred color */
	color: white;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 10px 2px;
	cursor: pointer;
	justify-content: center;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.home-button {
    display: flex;
    padding: 10px 20px;
    background-color: #3f0202; /* Change as needed */
    color: white; /* Change as needed */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 50px 400px ;
	justify-content: center;
	cursor: pointer;
	border-radius: 4px;	
    cursor: pointer;
    border-radius: 4px;
}

.button:hover, .home-button:hover, prev:hover, next:hover {
	background-color: #4b0000; /* Darker shade of the original color */
}

.project {
	padding-left: 200px;
	padding-right: 200px;
	color: white; /* Add this line */
}

.project h3 {
	text-align: center;
}

.github-logo {
	filter: invert(1); /* This will make the logo white */
	width: 30px; /* Adjust this as needed */
	height: 30px; /* Adjust this as needed */
}

#button-container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

#prev, #next {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3f0202; /* Change as needed */
    color: white; /* Change as needed */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

footer {
	color: white;
	text-align: center;
	padding: 10px;
}
